<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <portfolios @switchToPortfolio="switchToPortfolio"></portfolios>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-md-12">
                <template v-if="chosenPortfolio">
                    <portfolio :portfolio="chosenPortfolio"></portfolio>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
    import PortfolioComponent from "./PortfolioComponent";
    import PortfoliosComponent from "./PortfoliosComponent";

    export default {
        data() {
            return {
                chosenPortfolio: null,
            };
        },

        components: {
            'portfolio': PortfolioComponent,
            'portfolios': PortfoliosComponent,
        },

        methods: {
            switchToPortfolio(portfolio) {
                this.chosenPortfolio = portfolio;
            },
        },
    };
</script>
