<template>
    <div>
        <template v-if="assets.length">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Symbol</th>
                    <th scope="col">Position</th>
                    <th scope="col">Quote, $</th>
                    <th scope="col">Current Allocation, %</th>
                    <th scope="col">Desired Allocation, %</th>
                    <th scope="col">Change required</th>
                </tr>
                </thead>

                <tbody>
                <tr v-for="(assetDTO, key) in assets">
                    <th scope="row" v-text="key + 1"></th>
                    <td v-text="assetDTO.portfolioAsset.asset.symbol"></td>
                    <td v-text="assetDTO.portfolioAsset.position"></td>
                    <td v-text="(assetDTO.portfolioAsset.asset.price / 100).toFixed(2)"></td>
                    <td v-text="assetDTO.currentAllocation.toFixed(2)"></td>
                    <td v-text="assetDTO.portfolioAsset.allocation"></td>
                    <td v-text="assetDTO.changeRequired.toFixed(2)"></td>
                </tr>
                </tbody>
            </table>
        </template>

        <template v-else>
            Please add at least one asset to your portfolio.
        </template>
    </div>
</template>

<script>
export default {
    props: {
        portfolio: Object,
        assets: Array,
    },
}
</script>
