<template>
    <form class="form-inline" v-on:submit="store">
        <div class="form-group mr-2">
            <label for="assetSymbol" class="sr-only">Symbol</label>
            <input id="assetSymbol"
                   class="form-control"
                   type="text"
                   placeholder="Asset Symbol or 'Cash'"
                   v-model="newAssetSymbol">
        </div>

        <div class="form-group mr-2">
            <label for="assetPosition" class="sr-only">Position</label>
            <input id="assetPosition"
                   class="form-control"
                   type="number"
                   v-model="newAssetPosition"
                   placeholder="Position"
                   min="0">
        </div>

        <div class="form-group mr-2">
            <label for="assetDesiredAllocation" class="sr-only">Allocation</label>
            <input id="assetDesiredAllocation"
                   class="form-control"
                   type="number"
                   v-model="newAssetAllocation"
                   placeholder="Allocation, %"
                   min="0"
                   max="100">
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</template>

<script>
export default {
    data() {
        return {
            newAssetSymbol: '',
            newAssetPosition: null,
            newAssetAllocation: null,
        };
    },

    props: {
        portfolio: Object,
    },

    methods: {
        store(event) {
            event.preventDefault();

            axios.post(`/api/portfolios/${this.portfolio.id}/assets`, {
                symbol: this.newAssetSymbol,
                position: this.newAssetPosition,
                allocation: this.newAssetAllocation,
            }).then((response) => {
                this.$emit('newAsset', response.data);
            }).finally(() => {
                this.newAssetSymbol = this.newAssetPosition = this.newAssetAllocation = null;
            });
        }
    },
};
</script>
