<template>
    <div class="card">
        <div class="card-header">Portfolio "<span v-text="portfolio.name"></span>"</div>

        <div class="card-body">
            <assets-table :assets="assets"></assets-table>
            <new-asset-form :portfolio="portfolio" @newAsset="newAsset"></new-asset-form>
        </div>
    </div>
</template>

<script>
import AssetsTableComponent from "./AssetsTableComponent";
import NewAssetComponent from "./NewAssetComponent";

export default {
    components: {
        'assets-table': AssetsTableComponent,
        'new-asset-form': NewAssetComponent,
    },

    data() {
        return {
            assets: [],
            newAssetName: '',
            newAssetPosition: null,
            newAssetAllocation: null,
        };
    },

    props: {
        portfolio: Object,
    },

    watch: {
        portfolio: {
            immediate: true,
            handler () {
                this.loadAssets();
            },
        },
    },

    methods: {
        loadAssets() {
            axios
                .get(`/api/portfolios/${this.portfolio.id}/assets`)
                .then((response) => {
                    this.assets = response.data;
                });
        },

        newAsset() {
            this.loadAssets();
        },
    },
};
</script>
