<template>
    <div class="card">
        <div class="card-header">Portfolios</div>

        <div class="card-body">
            <template v-if="portfolios.length">
                <button v-for="portfolio in portfolios"
                        class="btn btn-light mr-2"
                        v-text="portfolio.name"></button>
            </template>

            <template v-else>You have no portfolios yet.</template>

            <hr>

            <form v-on:submit="store">
                <div class="form-group">
                    <label for="portfolioName">New portfolio name</label>
                    <input id="portfolioName" class="form-control" type="text" v-model="newPortfolioName">
                </div>

                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            newPortfolioName: '',
            portfolios: [],
        };
    },

    mounted() {
        this.loadPortfolios();
    },

    methods: {
        loadPortfolios() {
            axios
                .get('/api/portfolios')
                .then((response) => {
                    this.portfolios = response.data;
                    this.$emit('switchToPortfolio', this.portfolios[0] || null);
                });
        },

        store(event) {
            event.preventDefault();

            axios
                .post('/api/portfolios', {
                    name: this.newPortfolioName,
                }).then((response) => {
                    this.portfolios.push(response.data);
                    this.$emit('switchToPortfolio', response.data);
                }).finally(() => {
                    this.newPortfolioName = '';
                });
        },
    },
};
</script>
